---
layout: null
title: Luqman & Nafisah
description: We are getting married!
sitemap:
    priority: 1.0
    lastmod: 2018-01-17
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

			<div id="wrapper" class="fade-in">

					<div id="intro">
            <h1>Luqman <br />&<br /> Nafisah</h1>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

					<nav id="nav">
            {% include nav.html %}
					</nav>

					<div id="main">

							<article class="post featured">
								<header class="major">
									<h2><a href="javascript:void(0)">We are getting married!</a></h2>
								</header>
								<a href="#" class="image main"><img src="{{ site.url }}/images/love-on-lomography.jpg" alt="" /></a>
                <blockquote>
                  If we had it our way, all of us would be in orlando universal studio <br />
                  riding roller coaster, and casting spells in harry potter world while sipping <br />
                  the best butterbeer. Since our parent’s have been patiently waiting for a <br />
                  ceremony though, we decided June nuptials on the edge of the world <br />
                  (Montauk feels like earth’s end, no?) would suffice. There are plenty of stories <br />
                  and laughs to be shared – all we need are your lovely faces.
                </blockquote>
                <h3>- Luqman & Nafis</h3>
							</article>

							<footer>
                <ul class="actions">
                  <li><a href="{{ "/us/" | absolute_url }}" class="button">About Us &raquo;</a></li>
                </ul>
							</footer>

					</div>

        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
