---
layout: null
type: homepage
title: Luqman & Nafisah
description: We are getting married!
sitemap:
    priority: 1.0
    lastmod: 2018-01-17
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

			<div id="wrapper" class="fade-in">

					<div id="intro">
            <h1>Luqman <br />&<br /> Nafisah</h1>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

					<nav id="nav">
            {% include nav.html %}
					</nav>

					<div id="main">

							<article class="post featured">
								<header class="major">
									<h2>بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>
                  <p>
										When I first fall in love with you, I questioned myself through and through, where have you been all
										these while. And i realized, had i met you any earlier or later in life, we won’t be where we are
										today. And for that I’m forever bounded my life to you.<br />
										- LR
									</p>
								</header>
								<a href="#" class="image main"><img src="{{ site.url }}/images/luqmannafisah.jpg" alt="" /></a>
                <h2 class="timer js-countdown-timer"></h2>
							</article>

							<footer>
                <ul class="actions">
                  <li><a href="{{ "/us/" | absolute_url }}" class="button">About Us &raquo;</a></li>
                </ul>
							</footer>

					</div>

        {% include foot.html %}

			</div>

		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
