<!-- DYN -->
<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}/assets/js/util.js"></script>
<script src="{{ site.url }}/assets/js/main.js"></script>

{% if page.layout == 'guestbook' %}
  <script type="text/javascript" src="{{ site.url }}}/assets/js/bundle.js"></script>
{% endif %}
