.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  margin-bottom: 2em;
  height: 0;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 1px solid _palette(fg-bold);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.margin {
  &-zero {
    margin: 0;
  }
  &-bottom {
    &-medium {
      margin-bottom: 2em;
    }
  }
}

.description {
  text-align: justify;
}

.slick-slider {
  margin-bottom: 3em !important;
}

.slick-dots li {
  width: 1em !important;

  button {
    &:before {
      font-size: 10px !important;
    }
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
  }
}