<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<div id="wrapper" class="fade-in">

  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>

  <nav id="nav">
    {% include nav.html %}
  </nav>

  <div id="main">

    <article class="post featured">
      <header class="major">
        <h2>Bridesmaids</h2>
        <p>Meet our bridesmaids!</p>
      </header>

      <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>1</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/irdina.jpg" alt="Irdina" />
            </span>
            <span class="cd-date">
              <h3>
                Irdina<br />
                Maid of Honor
              </h3>
            </span>
            <p>
              She’s literally the definition of sister from another mother and beauty (quirky) with brain. Been friends
              since high school, but gotten closer in UM. Despite her busy days studying Medic, she still manage to make
              time for her family and friends. She has a charming aura that everyone wants to get to know her. When
              times are rough, she’ll be there whenever she can and the best thing about her is that, she values
              friendship more than anything.
            </p>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>2</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/yana.jpg" alt="Yana" />
            </span>
            <span class="cd-date">
              <h3>
                Yana<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              Yana..Yana..Yana. One in a million and you won’t find any other friends who is ‘tingtong’ like her. But
              when it comes to friends & family, she’s really caring, sweet and very thoughtful.
            </p>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>3</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/atin.jpg" alt="Atin" />
            </span>
            <span class="cd-date">
              <h3>
                Atin<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              A family person. She is so clingy with her family that even her brother treats her like a younger sister.
              She’s also very clingy with Baboys and despite the long distance friendship, she always care and treat us
              like her family. Her maturity and cleverness is amazing, as she can handle both working life and study
              life. Not everyone can do that! Knowledge is everything to her and she’ll make sure that she receives and
              gives back to those who need it. She’s a go-getter and very persistent on what she wants. In all she’s an
              amazing friend that everyone needs in their life.
            </p>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>4</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/hani.jpg" alt="Hani" />
            </span>
            <span class="cd-date">
              <h3>
                Hani<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              To me, Hani is smart, a good listener and her opinions are very wise for someone who is young. (I poured
              my heart once to her, and that is how I know she is trustworthy). One thing for sure, Hani really likes to
              talk and she always have stories to tell. For as long as her eyes are still open, same goes to her mouth.
              She likes to talk on everyday things and random knowledge as well.
            </p>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>5</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/dhira.jpg" alt="Dhira" />
            </span>
            <span class="cd-date">
              <h3>
                Dhira<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              She’s an easy-going person, mostly relax & calm. She may look like she's a quiet person, but nope (don’t
              be fool by her looks hehe). She’s very sociable and fun to hang out with.
            </p>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>6</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/najie.jpg" alt="Najie" />
            </span>
            <span class="cd-date">
              <h3>
                Najie<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              When the first time I know her, I was like - ganas budak ni but not bad lah, cool sebab dia jenis kuat
              gelak i like. After knowing her more, yes indeed she's a very active girl with a lot of friends and full
              of activities. Despite of her rugged character, she is one loving and caring friend. I can say that she is
              very good in keeping her friend's secret for the sake of their dignity. Although she has lots of friends,
              she is good in ensuring that she is fair in treating her friends. Overall, she's a good girl and i love
              her like my own sister!
            </p>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>7</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/syazwani.jpg" alt="Syazwani" />
            </span>
            <span class="cd-date">
              <h3>
                Syazwani<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              The kakak amongst us. She takes forever to get ready when we're going to hang out. That's why she gets up
              early in the morning because she knows she needs her time. Dugong time and pillowtalk is the best with
              her. A caring person, who always asks whether everyone is okay. A very tidy person, her room or place it's
              really clean and tidy. To her less is more. The best thing about her is she's a good listener and she
              keeps it to herself. Love you Kak Wani!
            </p>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>8</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/miza.jpg" alt="Miza" />
            </span>
            <span class="cd-date">
              <h3>
                Miza<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              The youngest of the lot. She’s a very soft-spoken and independent lady. Despite all the hardships she went
              through, she’s determined to prove that she can do it better than anyone else. She’s mainly shy with
              people but her smile lights up the day.
            </p>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>9</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/ahlina.jpg" alt="Ahlina" />
            </span>
            <span class="cd-date">
              <h3>
                Ahlina<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              The only child in her family but she receives so much love from her family and friends. She used to be
              quiet when there’s a group of people, but now she has certainly become more joyful and outspoken. She
              loves watching Running Man and has a crush on Hafiz Hamidun.
            </p>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>10</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="/images/bridesmaids/farhana.jpg" alt="Farhana" />
            </span>
            <span class="cd-date">
              <h3>
                Farhana<br />
                Bridesmaid
              </h3>
            </span>
            <p>
              A lovely and sweet lady, just like her mother. She makes perfect coffee topped with beautiful art and a
              dash of her graceful smile.
            </p>
          </div>
        </div>
      </section>

    </article>
  </div>

  {% include foot.html %}

</div>

{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
