<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<div id="wrapper" class="fade-in">

  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>

  <nav id="nav">
    {% include nav.html %}
  </nav>

  <div id="main">

    <article class="post featured">
      <header class="major">
        <h2>Event Details</h2>
        <p>
          Here's our schedule!
        </p>
      </header>
    </article>

    <section class="posts">

      <article>
        <header>
          <h2>Nikah</h2>
        </header>
        <a href="{{ "/rsvp" | absolute_url }}" class="image fit"><img src="{{ site.url }}/images/nikah.jpg" alt="" /></a>
        <div class="row event-details">
          <strong>Date: </strong><i>14 July 2018</i><br/>
          <strong>Time: </strong><i>8-10pm</i><br/>
          <strong>Venue: </strong><i><a href="https://goo.gl/maps/HNSHQA1RFx72" target="_blank">Sime Darby Convention Centre,<br/>1A, Jalan Bukit Kiara,<br/>Bukit Kiara,<br>60000 Kuala Lumpur</a></i>
        </div>
        <div class="row event-details">
          <ul>
            <li>One seating wedding.</li>
            <li>Enchanted Forest Theme (Combination of dusty pink & dusty green).</li>
            <li>Fixed seating with designated tables.</li>
          </ul>
        </div>
        <ul class="actions">
          <li><a href="{{ "/rsvp" | absolute_url }}" class="button">RSVP</a></li>
        </ul>
      </article>

      <article>
        <header>
          <h2>Reception</h2>
        </header>
        <a href="{{ "/rsvp" | absolute_url }}" class="image fit"><img src="{{ site.url }}/images/bride.jpg" alt="" /></a>
        <div class="row event-details">
          <strong>Date: </strong><i>14 July 2018</i><br/>
          <strong>Time: </strong><i>8-10pm</i><br/>
          <strong>Venue: </strong><i><a href="https://goo.gl/maps/HNSHQA1RFx72" target="_blank">Sime Darby Convention Centre,<br/>1A, Jalan Bukit Kiara,<br/>Bukit Kiara,<br>60000 Kuala Lumpur</a></i>
        </div>
        <div class="row event-details">
          <ul>
            <li>One seating wedding.</li>
            <li>Enchanted Forest Theme (Combination of dusty pink & dusty green).</li>
            <li>Fixed seating with designated tables.</li>
          </ul>
        </div>
        <ul class="actions">
          <li><a href="{{ "/rsvp" | absolute_url }}" class="button">RSVP</a></li>
        </ul>
      </article>

      <article>
        <header>
          <h2>Brunch</h2>
        </header>
        <a href="{{ "/rsvp" | absolute_url }}" class="image fit"><img src="{{ site.url }}/images/groom.jpg" alt="" /></a>
        <div class="row event-details">
          <strong>Date: </strong><i>14 July 2018</i><br/>
          <strong>Time: </strong><i>8-10pm</i><br/>
          <strong>Venue: </strong><i><a href="https://goo.gl/maps/HNSHQA1RFx72" target="_blank">Sime Darby Convention Centre,<br/>1A, Jalan Bukit Kiara,<br/>Bukit Kiara,<br>60000 Kuala Lumpur</a></i>
        </div>
        <div class="row event-details">
          <ul>
            <li>One seating wedding.</li>
            <li>Enchanted Forest Theme (Combination of dusty pink & dusty green).</li>
            <li>Fixed seating with designated tables.</li>
          </ul>
        </div>
        <ul class="actions">
          <li><a href="{{ "/rsvp" | absolute_url }}" class="button">RSVP</a></li>
        </ul>
      </article>

      <article>
        <header>
          <h2>Contact</h2>
          <p class="date">Just in case if you have any questions.</p>
        </header>
        <ul class="event-details">
          <li>
            <strong>Name: </strong><i>Nafisah Fadillah</i><br />
            <strong>Phone: </strong><i><a href="tel:0192645055">0192645055</a></i><br />
            <strong>Email: </strong><i><a href="mailto:nafisfadillah@gmail.com">nafisfadillah@gmail.com</a></i>
          </li>
          <li>
            <strong>Name: </strong><i>Luqman Rashdi</i><br />
            <strong>Phone: </strong><i><a href="tel:0189626654">0189626654</a></i><br />
            <strong>Email: </strong><i><a href="mailto:nafisfadillah@gmail.com">luqmanrashdi@gmail.com</a></i>
          </li>
        </ul>
      </article>

    </section>

  </div>

  {% include foot.html %}

</div>

{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
