<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<div id="wrapper" class="fade-in">

  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>

  <nav id="nav">
    {% include nav.html %}
  </nav>

  <div id="main">

    <article class="post featured">
      <header class="major">
        <h2>Groomsmen</h2>
        <p>Meet the groomsmen!</p>
      </header>

      <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>1</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/azlan-shah.jpg" alt="Azlan Shah" />
            </span>
            <span class="cd-date">
              <h3>Azlan Shah</h3>
              <h4>Best Man</h4>
              <p>
                Azlan Shah was my roommate when I was studying in the States (p/s: he’s still my roommate). When things
                got tough, he make sure that I can always count on him which explained why he’s the best man on my big
                day. He’s more commonly known as Asai among his close friends. Despite his innocent looks, he makes lame
                jokes too. Afterall, he’s still the best of lot.
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>2</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/mcandriano-teh.jpg" alt="McAndriano Teh" />
            </span>
            <span class="cd-date">
              <h3>McAndriano Teh</h3>
              <h4>Groomsman</h4>
              <p>
                One of the first few friends I knew back in US. Being the one who helped me settled down in US made him
                one of the closest friends to date. When I first knew him, he told me that he’s from Kuching and he
                doesn’t speak much of the Sarawakian accent. But things got interesting when he’s more fluent in Utagha
                slang more than Sarawak.
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>3</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/fauzan-affandi.jpg" alt="Fauzan Affandi" />
            </span>
            <span class="cd-date">
              <h3>Fauzan Affandi</h3>
              <h4>Groomsman</h4>
              <p>
                I started to know him about 1 month before I started my journey to Stevens. Back then we were just an
                acquaintance and saying hello was the only thing we said to each other. Little that I know that he
                became one of the friends that I always turned to especially when I need a critical thinker or multiple
                perspective  regarding certain issues.  One of the memories that I cherish together is when Hurricane
                Sandy came to NY/NJ area, all basic needs were gone and we were unprepared. But he said nothing can go
                wrong when you have Halal Kentucky Fried Chicken. So we bought KFC as much as we could and thank God we
                did that as Sandy hurricane caused us 10 days without electricity and domestic supply.
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>4</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/fahrurredha-fahrurazi.jpg" alt="Fahrurredha & Fahrurazi" />
            </span>
            <span class="cd-date">
              <h3>Fahrurredha & Fahrurazi</h3>
              <h4>Groomsmen</h4>
              <p>
                Double-crazy, double the fun! This twins has proved themselves to be super-best friend worthy. Knowing
                them since kindergarten days made them one of the closest friend of all time. Super talented fellas.
                This twin has taught me so much in friendship. When others turned themselves away, these two will always
                have my back no matter what may come and believe me when I say things can never go wrong when they’re
                around.
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>5</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/wanja.jpg" alt="Wan Muhammad Syahmi (Wanja)" />
            </span>
            <span class="cd-date">
              <h3>Wan Muhammad Syahmi (Wanja)</h3>
              <h4>Groomsman</h4>
              <p>
                Super genius, toughbuilt, funny, and good looking lad. Back in primary school days, having a class next
                to him gave me the opportunity to secretly measure myself next to him (during assembly) hoping that I
                will grow if not taller, at least the same height with him. Secretly measuring our shoes is one of the
                way seeing myself looking at our height. It doesn’t take me that long to realize the fact that everyone
                is different. After completing his studies in Canada, he furthered his studies again in Imperial College
                London and currently pursuing his career as a Geotechnical Engineer.
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>6</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/muhammad.jpg" alt="Muhammad (Mad)" />
            </span>
            <span class="cd-date">
              <h3>Muhammad (Mad)</h3>
              <h4>Groomsman</h4>
              <p>
                Mad and I went long way back from standard one. We were in the same class for 4 years before he was
                transferred to a different school. Few years later, we met again when we registered in the same school.
                Mad is one of those friends who always think outside the box. His creativity and enthusiasm in
                everything he does landed him in Japan for his undergraduate years. He is now a proud co-founder of The
                Tokyo Burger (@thetokyoburger.co) and on his way to a great food empire.
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>7</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/yusof-rashid.jpg" alt="Yusof Rashid" />
            </span>
            <span class="cd-date">
              <h3>Yusof Rashid</h3>
              <h4>Groomsman</h4>
              <p>
                Yusuf spent most of his childhood in England and because of that, we only knew each other since junior
                high school. He didn't speak much back then but he surely knows how to blend in with everyone. We were
                in the same class when we were in Form 3 and guess what, he pulled one of the greatest prank in my life
                when he left me sleeping in class and proceed to Science lab with other classmates which in the end
                landed me into another discipline case. Damn. Even though life takes us to different ways, we always
                catch up every now and then. Yusuf now is also one of @thetokyoburger.co family and currently doing some
                work experience side by side with Mad.
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>8</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/ku-aiman.jpg" alt="Ku Aiman" />
            </span>
            <span class="cd-date">
              <h3>Yusof Rashid</h3>
              <h4>Groomsman</h4>
              <p>
                Kuman and I knew each other since form 1 when he got himself transferred into Jalan Empat Secondary
                School. Comparatively to the rest, we didn’t spend much time together due to the fact that we were not
                in the same class until we were form 4. We were in the same class for 2 weeks before we both made our
                way to boarding school. The best part of it is that we both are able to pick up where we left off
                regardless the time we got to spend along the way. At the end of the day, I’m really glad that he become
                the important part of my big day. (fun fact : Azlan, wanja and Kuman were in the same school back in
                2007:P)
              </p>
            </span>
          </div>
        </div>
        <div class="cd-timeline-block right">
          <div class="cd-timeline-img cd-index is-hidden">
            <h3>9</h3>
          </div>
          <div class="cd-timeline-content is-hidden">
            <span class="image fit">
              <img src="{{ site.url }}/images/groomsmen/ku-aiman.jpg" alt="Amar Hidayat" />
            </span>
            <span class="cd-date">
              <h3>Amar Hidayat</h3>
              <h4>Groomsman</h4>
              <p>
                Relatively to the rest, I got to know Amar only for the past two years when I first join Ekovest. It
                feels like I’ve known him for his entire life. Even though he takes his job seriously (*wink wink*), he
                always make sure he got rooms for jokes and some silliness. He got this know-how or know-it-all attitude
                where I find it quite annoying the first time knowing him:P (thank you Amar, now i know how to pronounce
                “guinness” properly).  I guess that’s what bro does right? They tortured you in the best possible way
                and in the end still being around when you needed them the most.
              </p>
            </span>
          </div>
        </div>
      </section>

    </article>

    <footer>
      <ul class="actions">
        <li><a href="{{ "/event/" | absolute_url }}" class="button">Event Details &raquo;</a></li>
      </ul>
    </footer>
  </div>

  {% include foot.html %}

</div>

{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
