<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<div id="wrapper" class="fade-in">

  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>

  <nav id="nav">
    {% include nav.html %}
  </nav>

  <div id="main">

    <article class="post featured">
      <header class="major">
        <h2>Photos</h2>
        <p>Some of our memories.</p>
      </header>

      <div class="box alt">
        <div class="row 50% uniform">
          <div class="4u 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-1.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-2.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u$ 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-3.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-4.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-5.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u$ 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-6.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-7.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-8.jpg" | absolute_url }}" alt="" /></span></div>
          <div class="4u$ 12u$(small)"><span class="image fit"><img src="{{ "/images/photos-9.jpg" | absolute_url }}" alt="" /></span></div>
        </div>
      </div>
    </article>

    <footer>
      <ul class="actions">
        <li><a href="{{ "/blog/" | absolute_url }}" class="button">Photo Album</a></li>
      </ul>
    </footer>

  </div>

  {% include foot.html %}

</div>

{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
