<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<div id="wrapper" class="fade-in">

  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>

  <nav id="nav">
    {% include nav.html %}
  </nav>

  <div id="main" class="rsvp">
    <div id="rsvp"></div>
    <footer>
      <ul class="actions">
        <li><a href="{{ "/photos/" | absolute_url }}" class="button">Photos &raquo;</a></li>
      </ul>
    </footer>
  </div>

  {% include foot.html %}

</div>

{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
