<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

  <!-- Header -->
  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>

  <div id="main">
    <header class="major" style="padding: 2rem 2rem 0 2rem">
      <p>Send your wedding wishes to the couple at <a href="http://luqmannafisah.com/guestbook" target="_blank">luqmannafisah.com/guestbook</a></p>
    </header>
    <div id="slideshow"></div>
  </div>

  <!-- Footer -->
  {% include foot.html %}

</div>

<!-- Scripts -->
{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
