<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

  <!-- Header -->
  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>


  <!-- Nav -->
  <nav id="nav">
    {% include nav.html %}
  </nav>

  <!-- Main -->
  <div id="main">

    <article class="post featured">
      <header class="major">
        <h2>The Couple</h2>
        <p>Meet the groom & bride!</p>
      </header>

      <h3>Nafisah Fadhillah</h3>
      <div class="box">
        <span class="image left">
        <img src="{{ site.url }}/images/nafisah.jpg" alt="" />
      </span>
        <p>Nafis turned 25 this year and she’s the third child of 5 siblings. Graduated from Universiti Putra
          Malaysia with Foodservice Management Degree with hope to be a chef one day, but realised that
          eating is her forte and not cooking. She believes she’s an avid foodie and a trusted listener to her
          friends. When she has free time, you can find her either watching movies at home or indulging for
          ‘research purposes’ at any cafes/restaurants. Her dream is to travel the world with the focus of
          tasting the local food from each place she visits. Nafis doesn’t talk much when you first meet her,
          but she can be mayhem once you get to know her.</p>
      </div>

      <h3>Luqman Rashdi</h3>
      <div class="box">
        <span class="image right">
        <img src="{{ site.url }}/images/luqman.jpg" alt="" />
      </span>
        <p>Luqman Rashdi 26 years old, the third child of six siblings. He graduated from University Technology Mara with an Interior Architecture degree. He is known as the ‘Handy-Manʼ around his friends and family, enjoy helping others. He is very passionate in his career hence he and 4 other friends opened up a design and construct company. An athletic person with a big appetite. Also When Ridzwan is not working he loves to go for long hikes up the mountain. Ridzwan has a soft heart when ever he is around cats, definitely a cat person. Ridzwan is a very shy and reserve person but once he gets comfortable with you he will be quite a chatter. Silly ass motherfucker.</p>
      </div>
    </article>

    <footer>
      <ul class="actions">
        <li><a href="{{ "/story/" | absolute_url }}" class="button">Our Story &raquo;</a></li>
      </ul>
    </footer>

  </div>

  <!-- Footer -->
  {% include foot.html %}

</div>

<!-- Scripts -->
{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
