<!DOCTYPE HTML>

<html>
<head>
  {% include head.html %}

</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

  <!-- Header -->
  <header id="header">
    <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
  </header>


  <!-- Nav -->
  <nav id="nav">
    {% include nav.html %}
  </nav>

  <!-- Main -->
  <div id="main">

    <article class="post featured">
      <header class="major">
        <h2>The Couple</h2>
        <p>Meet the groom & bride!</p>
      </header>

      <h3>Khairun Nafisah Binti Fadhillah</h3>
      <div class="box">
        <span class="image left">
        <img src="{{ site.url }}/images/nafisah.jpg" alt="" />
      </span>
        <p>
          Nafis turned 25 this year and she’s the third child of 5 siblings. Graduated from Universiti Putra
          Malaysia with Foodservice Management Degree with hope to be a chef one day, but realised that
          eating is her forte and not cooking. She believes she’s an avid foodie and a trusted listener to her
          friends. When she has free time, you can find her either watching movies at home or indulging for
          ‘research purposes’ at any cafes/restaurants. Her dream is to travel the world with the focus of
          tasting the local food from each place she visits. Nafis doesn’t talk much when you first meet her,
          but she can be mayhem once you get to know her.
        </p>
      </div>

      <h3>Luqman Nul-Hakim Bin Rashdi</h3>
      <div class="box">
        <span class="image right">
        <img src="{{ site.url }}/images/luqman.jpg" alt="" />
      </span>
        <p>
          Named after a wise man in the holy quran, he thrived being the only son in the family among 5 siblings.
          His environment had taught him to be independent, resourceful and caring person. Having both parents as
          electrical engineers has driven him into technical field as such he continued his tertiary education in
          Civil Engineering. He loves to observe things from different perspectives and technicality, and easily
          wowed by new informations. His dream is to build his own empire as well as making a world a better
          place to live. While Nafis doesn’t talk much when you first meet her, Luqman appears to be the total
          opposite of her.  He can be quite a chatter given the right topic.
        </p>
      </div>
    </article>

    <footer>
      <ul class="actions">
        <li><a href="{{ "/story/" | absolute_url }}" class="button">Our Story &raquo;</a></li>
      </ul>
    </footer>

  </div>

  <!-- Footer -->
  {% include foot.html %}

</div>

<!-- Scripts -->
{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
